.app-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.compact-window {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-shadow: none;
}

.expanded-window {
  background-color: #eceaff;
  padding: 20px;
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

